
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #134266;
  --secondary-color: #e7c24f;
  --accent1-color: #fce172;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(white);
}
p {
  font-family: var(Raleway, Arial, sans-serif);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(#134266)
}
.secondary {
  background-color: var(#e7c24f);
}
.accent1 {
  background-color: var(#fce172);
}
.accent2{
  background-color: var(#ffffff);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

/* Activity 1 styles */
    .content1 {
        /* This is the parent of the activity 1 boxes. */
    }
    .red1 { 
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green1 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
    } 
    .yellow1 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    } 
    .blue1 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    } 
     /* Activity 2 styles */ 
    .content2 {
        /* This is the parent of the activity 2 boxes. */
    }
    .red2 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green2 { 
    width: 100px; 
    height: 100px; 
    background-color: green; 
     } 
    .yellow2 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    } 
    .blue2 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    } 
     /* Activity 3 styles */ 
    .content3 {
        /* This is the parent of the activity 3 boxes. */
    }
    .red3 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
     } 
    .green3 {
    width: 100px; 
    height: 100px; 
    background-color: green;
     } 
    .yellow3 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
     } 
    .blue3 {
    width: 100px;
    height: 100px; 
    background-color: blue; 
     } 
     /* Activity 4 styles */ 
    .content4 {
        /* This is the parent of the activity 4 boxes. */
        height: 400px;
    }
    .red4 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
     } 
    .green4 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
    } 
    .yellow4 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
     } 
    .blue4 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
     } 
     /* Activity 5 styles */ 
     .content5 {
        /* This is the parent of the activity 5 boxes. */
         height: 400px;
    }
    .red5 { 
    width: 100px; 
    height: 100px; 
    background-color: red; 
     } 
    .green5 { 
    width: 100px; 
    height: 100px; 
    background-color: green; 

     } 
    .yellow5 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 

    } 
    .blue5 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
     } 
     /* Activity 6 styles */ 
     .content6 {
        /* This is the parent of the activity 6 boxes. */
    }
    .red6 {
    width: 100px; 
    height: 100px; 
    background-color: red; 
    } 
    .green6 {
    width: 100px; 
    height: 100px; 
    background-color: green; 
     } 
    .yellow6 {
    width: 100px; 
    height: 100px; 
    background-color: gold; 
    } 
    .blue6 {
    width: 100px; 
    height: 100px; 
    background-color: blue; 
    } 


/* Do not make any changes below here */
     .activity {
    width: 70%; 
    margin: 20px auto; 
    font-family: Arial, sans-serif; 
    border: 1px solid black; 
    padding: 10px; 
    clear:both; 
    overflow: auto;
    } 

.hint {
    border: 1px solid grey;
    background: #e0e0e0;
    padding: .5em;
    position: relative;
    margin: 1em 0;
}
.hint h3 {
    margin: 0;
}
.hint:hover {
    background: #d0d0d0;
}
.hint > div {
    display: none;
}

.hint input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
    display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
    top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}
