*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color: #a3769e;
}
.social-items{
    padding: none;
}
.social-items a{
    padding: 10px 20px;
    font-size: 35px;

}
.quick-links{
    display: flex;
}
.quick-links ul{
    display: flex;
}
.quick-items{
    list-style: none;
}
.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 18px;
    color: whitesmoke;
}